<header class="navbar">
    <nav class="container-nav">
      <div class="kiri">
        <div class="navbar-extra">
          <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
        </div>
        <div class="banyumas">
          <img src="/img/logo__sid__Iex1ov2.png" alt="logo-banyumas" />
        </div>
        <div class="navbar-logo">

          <a href="/" class="logo">Suratify</a>
        </div>
      </div>
      <div class="navbar-nav">
        <a href="/arsip-upload" id="permohonan-domain"
          >Arsip Upload Surat Domain</a
        >
        <a href="/arsip-kuasa-upload" id="pemberian-kuasa"
          >Arsip Upload Surat Kuasa</a
        >
        <a href="/arsip-adm-upload" id="permohonan-admin"
          >Arsip Upload Surat Ganti Admin</a
        >
        <a href="/arsip-tugas-upload" id="perintah-tugas"
        > Arsip Upload Surat Perintah Tugas</a>
      </div>
      
    </nav>
  </header>