<header class="navbar-fix">
    <nav class="container-nav">
      <div class="kiri">
        <div class="banyumas">
          <img src="/img/logo__sid__Iex1ov2.png" alt="logo-banyumas" />
        </div>
        <h1 class="logo">SuratDesa.com</h1>
      </div>
      <ul class="nav-links">
        <li><a href="#carouselExampleSlidesOnly">Beranda</a></li>
        <li><a href="#jenis-surat">Jenis Surat</a></li>
        <li><a href="#about">Tentang</a></li>
        <div class="dropdown">
          <li><a href="">Arsip</a></li>
          <div class="dropdown-content">
            <a href="/arsip">Surat Domain</a>
            <a href="/arsip-kuasa">Surat Kuasa</a>
            <a href="/arsip-adm">Surat Ganti Admin</a>
            <a href="/arsip-tugas">Surat Tugas</a>
          </div>
        </div>
        <div class="dropdown">
          <li><a href="">Arsip Upload</a></li>
          <div class="dropdown-content">
            <a href="/arsip-upload">Upload Surat Domain</a>
            <a href="/arsip-kuasa-upload">Upload Surat Kuasa</a>
            <a href="/arsip-adm-upload">Upload Surat Ganti Admin</a>
            <a href="/arsip-tugas-upload">Upload Surat Tugas</a>
          </div>
        </div>
      </ul>
    </nav>
  </header>