<!-- Navbar (start) -->
    <nav class="navbar" id="navbar">
      <div class="left-items">
        <div class="navbar-extra">
          <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
        </div>

        <div class="banyumas">
          <img src="/img/logo__sid__Iex1ov2.png" alt="Logo Banyumas" />
        </div>
        <a href="/" class="navbar-logo">SuratDesa.com</a>
      </div>
      

      <div class="navbar-nav">
        <a href="/surat-domain" id="permohonan-domain"
          >Permohonan Penggunaan Domain</a
        >
        <a href="/surat-kuasa" id="pemberian-kuasa"
          >Pemberian Kuasa Mengelola Domain</a
        >
        <a href="/surat-ganti-admin" id="permohonan-admin"
          >Permohonan Pergantian Admin</a
        >
        <a href="/surat-tugas" id="perintah-tugas">Perintah Tugas</a>
      </div>
    </nav>