  <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="judul-atas">
          <h1>Layanan Surat Otomatis Desa</h1>
          <a href="#jenis-surat" class="btn">Buat Surat Sekarang</a>
        </div>
        <div class="carousel-item carousel-image bg-img-1 active">
          <!-- <img src="img/pexels-ihsan-adityawarman-2464145.jpg" class="d-block w-100" alt="bg1"> -->
        </div>
        <div class="carousel-item carousel-image bg-img-2">
          <!-- <img src="img/pexels-tom-fisk-2020377.jpg" class="d-block w-100" alt="bg2"> -->
        </div>
        <div class="carousel-item carousel-image bg-img-3">
          <!-- <img src="img/pexels-tom-fisk-1555581.jpg" class="d-block w-100" alt="bg3"> -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

    <section id="jenis-surat" class="JenisSurat">
      <div class="jenis">
        <h2>Pilih Jenis Surat</h2>
      </div>
      <div class="container" >
        <a href="/surat-domain">
          <button class="box domain">
            <h2>Surat Domain</h2>
            <div class="bulat">
              <i class="fa-brands fa-chrome fa-5x"></i>
            </div>
            <p>Berkas yang diperlukan : Surat Kuasa, Fotocopy SK Kepala Desa, & Fotocopy KTP</p>
          </button>
        </a>
        <a href="/surat-kuasa">
          <button class="box kuasa">
            <h2>Surat Kuasa</h2>
            <div class="bulat">
              <i class="fa-regular fa-pen-to-square fa-5x"></i>
            </div>
            <p>Surat penyerahan kuasa website sepenuhnya pada dinkominfo banyumas</p>
          </button>
        </a>
        <a href="/surat-ganti-admin">
          <button class="box admin">
            <h2>Surat Ganti Admin</h2>
            <div class="bulat">
              <i class="fa-solid fa-rotate fa-5x"></i>
            </div>
            <p>Berkas yang diperlukan : Surat Tugas & Fotocopy KTP admin</p>
          </button>
        </a>
        <a href="/surat-tugas">
          <button class="box tugas">
            <h2>Surat Perintah Tugas</h2>
            <div class="bulat">
              <i class="fa-solid fa-triangle-exclamation fa-5x"></i>
            </div>
            <p>Surat untuk menugaskan perangkat desa untuk melakukan pekerjaan</p>
          </button>
        </a>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
        <div class="judul">
          <h2>Fitur Yang Kami Sediakan :</h2>
          <p>Layanan Umum Surat-Surat Yang Bisa di Generate</p>
        </div>
        <div class="about-bawah">
          <div class="tampilan">
            <img src="img/Screenshot 2023-08-10 091103.png" alt="gambar-layanan" />
          </div>
          <div class="layanan">
            <div class="j-layanan">
              <h2>Surat yang dapat di Generate</h2>
            </div>
            <div class="i-layanan">
              <a>&#x2022; Surat Permohonan Penggunaan Domain Desa</a>
              <a>&#x2022; Surat Permohonan Pemberian Kuasa Domain</a>
              <a>&#x2022; Surat Permohonan Pergantian Admin Website Desa</a>
              <a>&#x2022; Surat Perintah Tugas</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Valentinus Aryo Saputro || Ratstsan Nur Akmal Adiwijaya</p>
        <p>21120121140100 || 21120121140100</p>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; 2023 SuratDesa.com. All rights reserved.</p>
      </div>
    </footer>
  </body>
