
    <div class="banyumas">
      <img src="img/logobanyumas - Copy.png" alt="logo-banyumas" />
    </div>
    <div class="bawah">
      <h2>SuratDesa.com</h2>
      <h1>Daftar Akun Untuk Dapat Login Ke Halaman Web</h1>
      <form class="register-form" method="POST" action="/register">
        <div class="form-group">
          <input type="text" id="NIP" name="NIP" placeholder="NIP" required />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="Konfirmasi Password"
            required
          />
        </div>
        <button type="submit">Register</button>
        <p class="login-link">
          Sudah punya akun? <a href="/login">Login disini</a>
        </p>
      </form>
    </div>