<body>
    <section id="home" class="hero">
      <div class="box">
        <h1>Pilih Surat Yang Akan Di Upload</h1>
        <form method="POST" action="/upload1" enctype="multipart/form-data">
            <input type="text" placeholder="Judul Surat" name="name"/>
            <input type="file" id="fileInput" name="upload-file" />
            <input type="hidden" id="fileInput" name="createdAt" value="<%  %>" />
            <div class="upload">
              <button id="uploadBtn">Upload File</button>
            </div>
        </form>
      </div>
    </section>
  </body>